body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cf6a87;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 { 
  color: #303952;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 5% 0;
  padding: 30px;
  border-radius: 15px;
  background-color: #f3a683;
}

.form-container h4 {
  color: #546de5;
}

input {
  margin: 2% 0;
  border: none;
  background-color: #f7d794;
  padding: 5%;
  border-radius: 15px;
  color: #303952;
}

.form-container button {
  background-color: #778beb;
  border: none;
  border-radius: 15px;
  padding: 1% 5%;
  color: #303952;
  margin: 2% 0;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #546de5;
  color: #fff;
}

.error {
  text-align: center;
  background-color: red;
  color: white;
  margin: 15px;
  padding: 2%;
  border-radius: 15px;
  border: 1px solid black;
}

.show-notes-btn {
  background-color: #778beb;
  border: none;
  border-radius: 15px;
  padding: 1% 5%;
  color: #303952;
  margin: 2% 0;
  cursor: pointer;
}

.show-notes-btn:hover {
  background-color: #546de5;
  color: #fff;
}

.crear-nota-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 5% 0;
  padding: 5% 30%;
  border-radius: 15px;
  background-color: #f3a683;
}

.crear-nota-form button {
  background-color: #778beb;
  border: none;
  border-radius: 15px;
  padding: 1% 5%;
  color: #303952;
  margin: 2% 0;
  cursor: pointer;
}

.crear-nota-form button:hover {
  background-color: #546de5;
  color: #fff;
}


.logout-btn {
  align-self: flex-end;
  background-color: #778beb;
  border: none;
  border-radius: 15px;
  padding: 1% 5%;
  color: #303952;
  margin: 2% 7% 2% 0;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #546de5;
  color: #fff;  
}

.notes-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-notes-container {
  margin: 0;
  padding: 0;
}

.note-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%;
  background-color: #fff;
  list-style: none;
  margin: 2%;
  padding: 2%;
  border-radius: 15px;
}

.note-container p {
}

.note-container button {
  max-width: 150px;
  height: max-content;
  align-self: center;
  background-color: #778beb;
  border: none;
  border-radius: 15px;
  padding: 1% 5%;
  color: #303952;
  margin: 2% 0;
  cursor: pointer;
}

.note-container button:hover {
  background-color: #546de5;
  color: #fff;
}

.show-login {
  width: 150px;
  height: max-content;
  align-self: center;
  background-color: #7bed9f;
  border: none;
  border-radius: 15px;
  padding: 3% 5%;
  color: #303952;
  margin: 2% 0;
  cursor: pointer;
}

.show-login:hover {
  background-color: #2ed573;
  color: #fff;
}


.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cancel-login {
  width: 150px;
  height: max-content;
  align-self: flex-end;
  background-color: #ff6b81;
  border: none;
  border-radius: 15px;
  padding: 1% 5%;
  color: #303952;
  margin: 2% 0;
  cursor: pointer;
}

.cancel-login:hover {
  background-color: #ff4757;
  color: #fff;
}